:root {
    --red: #d63c59;
    --green: #4f9d69;
    --yellow: #e2a954;
    --blue: #53879f;
    --magenta: #ba70b4;
    --cyan: #48a9a6;
    --cosmic: hsl(42, 100%, 95%);
    --light: hsl(42, 25%, 85%);
    --slate: hsl(42, 25%, 90%); 
    --inverse: hsl(223, 100%, 5%);
    --med: hsl(223, 25%, 15%);
    --charcoal: hsl(223, 25%, 10%);
    /* --black: #181e30; */
    /* --white: #e7e0ce; */
    /* --lightest: hsl(223, 20%, 90%); */
    /* --dark: hsl(223, 20%, 10%); */
    /* --slate: hsl(223, 10%, 85%);  */
    /* --outer-space: #414A4C; */
    /* --gunmetal: #2c3539; */
    /* --smoke: hsl(0, 0%, 96%); */
    /* --med: hsl(223, 20%, 20%); */
    /* --light: hsl(223, 20%, 70%); */
}

p {
    padding: 10px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    padding: 50px;
    text-align: center;
}


/* dawn COLORS */

#dawn {
    /* background: var(--slate); */
    background: var(--light);
    color: var(--inverse);
}

#dawn .black {
    background: var(--charcoal);
}

#dawn .red {
background: var(--red);
}

#dawn .green {
    background: var(--green);
}

#dawn .yellow {
    background: var(--yellow);
}

#dawn .blue {
    background: var(--blue);
}

#dawn .magenta {
    background: var(--magenta);
}

#dawn .cyan {
    background: var(--cyan);
}

#dawn .white {
    background: var(--slate);
}


/* day COLORS */

#day {
    background: var(--cosmic);
    /* background: var(--lightest); */
    color: var(--inverse);
}

#day .black {
    background: var(--charcoal);
}

#day .red {
background: var(--red);
}

#day .green {
    background: var(--green);
}

#day .yellow {
    background: var(--yellow);
}

#day .blue {
    background: var(--blue);
}

#day .magenta {
    background: var(--magenta);
}

#day .cyan {
    background: var(--cyan);
}

#day .white {
    background: var(--slate);
}


/* night COLORS */

#night {
    background: var(--inverse);
    /* background: var(--dark); */
    color: var(--cosmic);
}

#night .black {
    background: var(--charcoal);
}

#night .red {
background: var(--red);
}

#night .green {
    background: var(--green);
}

#night .yellow {
    background: var(--yellow);
}

#night .blue {
    background: var(--blue);
}

#night .magenta {
    background: var(--magenta);
}

#night .cyan {
    background: var(--cyan);
}

#night .white {
    background: var(--slate);
}


/* dusk COLORS */

#dusk {
    /* background: var(--charcoal); */
    background: var(--med);
    color: var(--cosmic);
}

#dusk .black {
    background: var(--charcoal);
}

#dusk .red {
background: var(--red);
}

#dusk .green {
    background: var(--green);
}

#dusk .yellow {
    background: var(--yellow);
}

#dusk .blue {
    background: var(--blue);
}

#dusk .magenta {
    background: var(--magenta);
}

#dusk .cyan {
    background: var(--cyan);
}

#dusk .white {
    background: var(--slate);
}