:root {
    --cosmic: #fff8e7;
    --red: #d63c59;
    --green: #4f9d69;
    --yellow: #e2a954;
    --blue: #53879f;
    --magenta: #ba70b4;
    --cyan: #48a9a6;
}

p {
    padding: 10px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    padding: 50px;
    text-align: center;
}


/* dawn COLORS */

#dawn {
    background: var(--cosmic);
    color: #000718;
}

#dawn .black {
    background: #181f31;
}

#dawn .red {
background: var(--red);
}

#dawn .green {
    background: var(--green);
}

#dawn .yellow {
    background: var(--yellow);
}

#dawn .blue {
    background: var(--blue);
}

#dawn .magenta {
    background: var(--magenta);
}

#dawn .cyan {
    background: var(--cyan);
}

#dawn .white {
    background: #e7e0ce;
}


/* day COLORS */

#day {
    background: #e7e0ce;
    color: #181f31;
}

#day .black {
    background: #000718;
}

#day .red {
background: var(--red);
}

#day .green {
    background: var(--green);
}

#day .yellow {
    background: var(--yellow);
}

#day .blue {
    background: var(--blue);
}

#day .magenta {
    background: var(--magenta);
}

#day .cyan {
    background: var(--cyan);
}

#day .white {
    background: #fff8e7;
}


/* night COLORS */

#night {
    background: #000718;
    color: #fff8e7;
}

#night .black {
    background: #181f31;
}

#night .red {
background: var(--red);
}

#night .green {
    background: var(--green);
}

#night .yellow {
    background: var(--yellow);
}

#night .blue {
    background: var(--blue);
}

#night .magenta {
    background: var(--magenta);
}

#night .cyan {
    background: var(--cyan);
}

#night .white {
    background: #e7e0ce;
}


/* dusk COLORS */

#dusk {
    background: #181f31;
    color: #e7e0ce;
}

#dusk .black {
    background: #000718;
}

#dusk .red {
background: var(--red);
}

#dusk .green {
    background: var(--green);
}

#dusk .yellow {
    background: var(--yellow);
}

#dusk .blue {
    background: var(--blue);
}

#dusk .magenta {
    background: var(--magenta);
}

#dusk .cyan {
    background: var(--cyan);
}

#dusk .white {
    background: #fff8e7;
}