
    /* --black: #181e30; */
    /* --white: #e7e0ce; */
    /* --lightest: hsl(223, 20%, 90%); */
    /* --dark: hsl(223, 20%, 10%); */
    /* --NormalWhite: hsl(223, 10%, 85%);  */
    /* --outer-space: #414A4C; */
    /* --gunmetal: #2c3539; */
    /* --smoke: hsl(0, 0%, 96%); */
    /* --med: hsl(223, 20%, 20%); */
    /* --light: hsl(223, 20%, 70%); */

p {
    padding: 25px;
    margin: 0;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 25px;
    text-align: center;
}

.AccentOne {
    background-color: hsl(275, 60%, 55%);
}
.AccentTwo {
    background-color: hsl(75, 60%, 55%);
}

/* #131720 
hsl(223, 25%, 10%) */
.DarkBlack {
    background-color: hsl(223, 5%, 15%);
}
.NormalBlack {
    background-color: hsl(223, 5%, 20%);
}
.LightBlack {
    background-color: hsl(223, 5%, 30%);
}

/* #d63c59
 hsl(349, 65%, 54%) */
.DarkRed {
    background-color: hsl(349, 55%, 40%);
}
.NormalRed {
    background-color: hsl(349, 55%, 45%);
}
.LightRed {
    background-color: hsl(349, 55%, 55%);
}

/* #4f9d69
 hsl(140, 33%, 46%) */
.DarkGreen {
    background-color: hsl(140, 35%, 40%);
}
.NormalGreen {
    background-color: hsl(140, 35%, 45%);
}
.LightGreen {
    background-color: hsl(140, 35%, 55%);
}

/* #e2a954
hsl(36, 71%, 61%) */
.DarkYellow {
    background-color: hsl(36, 55%, 55%);
}
.NormalYellow {
    background-color: hsl(36, 55%, 60%);
}
.LightYellow {
    background-color: hsl(36, 55%, 70%);
}

/* #53879f 
hsl(199, 31%, 47%) */
.DarkBlue {
    background-color: hsl(199, 35%, 45%);
}
.NormalBlue {
    background-color: hsl(199, 35%, 50%);
}
.LightBlue {
    background-color: hsl(199, 35%, 60%);
}

/* #ba70b4
hsl(305, 35%, 58%) */
.DarkMagenta {
    background-color: hsl(305, 35%, 55%);
}
.NormalMagenta {
    background-color: hsl(305, 35%, 60%);
}
.LightMagenta {
    background-color: hsl(305, 35%, 70%);
}

/* #48a9a6
hsl(178, 40%, 47%) */
.DarkCyan {
    background-color: hsl(178, 35%, 45%);
}
.NormalCyan {
    background-color: hsl(178, 35%, 50%);
}
.LightCyan {
    background-color: hsl(178, 35%, 60%);
}

/* #ece8df
hsl(42, 25%, 90%) */
.DarkWhite {
    background-color: hsl(42, 5%, 70%);
}
.NormalWhite {
    background-color: hsl(42, 5%, 80%);
}
.LightWhite {
    background-color: hsl(42, 5%, 85%);
}

#CosmicDawn {
    background-color: #e2ddcf;
    color: #000718;
}
#CosmicDay {
    background-color: #fff8e7;
    color: #000718;
}
#CosmicDusk {
    background-color: #1d2230;
    color: #fff8e7;
}
#CosmicNight {
    background-color: #000718;
    color: #fff8e7;
}